* {
    padding: 0;
    margin: 0;
}

body {
    background-color: blue;
}

body h1 {
    color: wheat;
    text-align: center;
}

body p {
    color: whitesmoke;
    text-align: center;
}